@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */



#learning_resources a {
  color: blue;
  margin: 10px 10px 10px 10px !important;
}

#learning_resources p {
  margin:10px 0px 10px 0px;
}

#learning_resources h1 {
  margin: 30px 0px 0px 0px;
}


.headingTextDiv {
  @apply text-xl lg:text-2xl font-semibold bg-title-bg-color text-title-text-color;
}
.titleTextDiv {
  @apply text-lg lg:text-xl font-medium bg-title-bg-color text-title-text-color;
}
.bodyTextDiv {
  @apply text-sm font-normal bg-title-bg-color text-title-text-color;
}


.headingCard{
  @apply headingTextDiv rounded-md p-4
}
.titleCard{
  @apply titleTextDiv rounded-md p-4
}
.bodyCard{
  @apply bodyTextDiv rounded-md p-4
}

.hoverCard{
  @apply hover:bg-hover-bg-color hover:border hover:border-blue-500
}
.parent-div .child-div {
  background-color: inherit;
}

.background{
  @apply bg-background-bg-color h-full
}
.card{
  @apply bg-white p-5 shadow-lg rounded-md border border-gray-200
}